// grabbing colors from http://vimcolors.com/64/monokai/dark
$monokai-grey-dark: #1F201B;
$monokai-grey-med: #272822;
$monokai-grey-light: #75715E;

$text-main-pink: #F92672;
$text-main-green: #A6E22E;
$text-main-purple: #AA81FF;
$text-main-gold: #E6DB74;


//  FONT STUFF
h1 {
  font-family: Inconsolata;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
}
h3 {
  font-family: Inconsolata;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px;
}
p {
  font-family: Inconsolata;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}
blockquote {
  font-family: Inconsolata;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}
pre {
  font-family: Inconsolata;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}
//  END FONT STUFF

//  SEMANTIC UI OVERRIDES
.ui.grid {
  margin: 0;
}
//


//  ANIMATION STUFF
@keyframes animation-spin {
  0% {transform:rotate(4deg);}
  50% {transform:rotate(-4deg);}
  100% {transform:rotate(4deg);}
}
//  END ANIMATION STUFF

//  TOP NAV
.top-nav {
  overflow: scroll;
  min-height: 5vh;
  max-width: 100%;
  text-align: right;
  background-color: $monokai-grey-med;

  .ui {
    .button {
      background-color: $monokai-grey-dark;  
    }
    .or {
      background-color: black;
      &:before {
        background-color: $monokai-grey-dark;
      }
    }
    .icon {
      color: $text-main-pink;
    }
  }


  a {
    font-family: Inconsolata;
    font-size: 20px;
    text-decoration: none;
    color: $text-main-gold;
    &:hover {
      color: $text-main-purple;
    }
  }
}

//  FOOTER

.footer {
  background-color: $monokai-grey-med;
  padding-top: 20px;
  text-align: center;
  min-height: 5vh;
  span {
    color: $text-main-gold;
    font-family: Inconsolata;
  }

  .icon {
    color: $text-main-pink;
  }
}


// HOME

.home {
  padding-top: 5%;
  background-color: $monokai-grey-dark;
  min-height: 90vh;

  .caption-top {
    color: $text-main-pink;
    margin-left: 27.5%;
  }

  .caption-bottom {
    color: $text-main-green;
    margin-right: 20%;
    text-align: right;
  }

  .mugshot {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    margin: auto;

    animation: animation-spin infinite 3s linear;
  }

  .termshot {
    cursor: pointer;
    max-height: 400px;
  }

  .acronym-expander {
    margin-left: 20vw;
    font-family: Inconsolata;
    .first-letter {
      color: $text-main-purple;
    }
  }
}

// END HOME


// NOT FOUND PAGE //
.not-found {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;

  background-color: $monokai-grey-med;

  h1 {
    color: $text-main-pink;
  }
}
