// grabbing colors from https://scotch.io/bar-talk/best-sublime-text-3-themes-of-2015-and-2016
$main-grey-bg: #2F2833;
$grey-bg-dark: #302C33;

$text-main-pink: #FF99C6;
$text-main-green: #B8FFB0;
$text-main-orange: #EB5424;


//  FONT STUFF

h1 {
  font-family: Inconsolata;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
}
h3 {
  font-family: Inconsolata;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px;
}
p {
  font-family: Inconsolata;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}
blockquote {
  font-family: Inconsolata;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}
pre {
  font-family: Inconsolata;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}

//  END FONT STUFF

//  TOP NAV
.top-nav {
  height: 4vh;
  background-color: $main-grey-bg;

  a {
    font-family: Inconsolata;
    font-size: 20px;
    text-decoration: none;
    color: $text-main-pink;
  }
}


// HOME

.home {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $grey-bg-dark;
  height: 100vh;

  .greeting {
    &.top {
      color: $text-main-pink;
    }
    &.bottom {
      color: $text-main-green;
    }
  }

  .mugshot {
    height: 200px;
    width: 200px;
    border-radius: 100%;
  }
}

// END HOME


// NOT FOUND PAGE //
.not-found {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;

  background-color: $main-grey-bg;

  h1 {
    color: $text-main-pink;
  }
}
